<a href="https://colab.research.google.com/github/tillnow2/movie-recommender/blob/main/movie_recomender.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [269]:
import pandas as pd
import numpy as np

# New Section

In [270]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# New Section

In [271]:
credits = pd.read_csv('/content/drive/MyDrive/credits.csv',error_bad_lines=False, engine="python")
movies = pd.read_csv('/content/drive/MyDrive/movies_metadata.csv',error_bad_lines=False, engine="python")

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
Skipping line 40819: unexpected end of data

In [272]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [273]:
#check null values
movies.isnull().sum()

# movies = movies.dropna(how='any',axis=0)
# credits = credits.dropna(how='any',axis=0)

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

In [274]:
movies = movies.dropna(how='any',axis=0)

In [275]:
movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
9,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,...,1995-11-16,352194034.0,130.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194.0
68,False,"{'id': 43563, 'name': 'Friday Collection', 'po...",3500000,"[{'id': 35, 'name': 'Comedy'}]",http://www.newline.com/properties/friday.html,10634,tt0113118,en,Friday,Craig and Smokey are two guys in Los Angeles h...,...,1995-04-26,28215918.0,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A lot can go down between thursday and saturda...,Friday,False,7.0,513.0
69,False,"{'id': 10924, 'name': 'From Dusk Till Dawn Col...",19000000,"[{'id': 27, 'name': 'Horror'}, {'id': 28, 'nam...",http://www.miramax.com/movie/from-dusk-till-dawn/,755,tt0116367,en,From Dusk Till Dawn,Seth Gecko and his younger brother Richard are...,...,1996-01-19,25836616.0,108.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,One night is all that stands between them and ...,From Dusk Till Dawn,False,6.9,1644.0
153,False,"{'id': 439053, 'name': 'Brooklyn Cigar Store C...",2000000,"[{'id': 35, 'name': 'Comedy'}]",http://miramax.com/movie/blue-in-the-face/,5894,tt0112541,en,Blue in the Face,"Auggie runs a small tobacco shop in Brooklyn, ...",...,1995-09-15,1275000.0,83.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Welcome to the planet Brooklyn.,Blue in the Face,False,6.8,28.0
178,False,"{'id': 286162, 'name': 'Power Rangers Collecti...",15000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.powerrangers.com/,9070,tt0113820,en,Mighty Morphin Power Rangers: The Movie,Power up with six incredible teens who out-man...,...,1995-06-30,66000000.0,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Power Is On!,Mighty Morphin Power Rangers: The Movie,False,5.2,153.0

In [276]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 693 entries, 9 to 45029
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  693 non-null    object
 1   belongs_to_collection  693 non-null    object
 2   budget                 693 non-null    object
 3   genres                 693 non-null    object
 4   homepage               693 non-null    object
 5   id                     693 non-null    object
 6   imdb_id                693 non-null    object
 7   original_language      693 non-null    object
 8   original_title         693 non-null    object
 9   overview               693 non-null    object
 10  popularity             693 non-null    object
 11  poster_path            693 non-null    object
 12  production_companies   693 non-null    object
 13  production_countries   693 non-null    object
 14  release_date           693 non-null    object
 15  revenue                693 non-null    float64
 16  runtime                693 non-null    float64
 17  spoken_languages       693 non-null    object
 18  status                 693 non-null    object
 19  tagline                693 non-null    object
 20  title                  693 non-null    object
 21  video                  693 non-null    object
 22  vote_average           693 non-null    float64
 23  vote_count             693 non-null    float64
dtypes: float64(4), object(20)
memory usage: 135.4+ KB

In [277]:
 credits = credits.dropna(how='any',axis=0)

In [278]:
credits.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [279]:
credits.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40817 entries, 0 to 40816
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    40817 non-null  object
 1   crew    40817 non-null  object
 2   id      40817 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.2+ MB

In [280]:
movies = movies.astype({'budget':'int', 'id':'int'})
movie_list = movies.merge(credits, on='id')

In [281]:
movies = movie_list[['genres', 'title', 'original_language','crew','cast','id', 'belongs_to_collection']]

In [282]:
movies = movies.drop_duplicates()

In [283]:
import ast
def convert(obj):
  l=[]
  for i in ast.literal_eval(obj):
    l.append(i['name'])
  return l

In [284]:
def get_poster_path(obj):
  return ast.literal_eval(obj)['poster_path']

In [285]:
movies['genres'] = movies['genres'].apply(convert)
movies['belongs_to_collection'] = movies['belongs_to_collection'].apply(get_poster_path)

In [286]:
def get_director_name(obj):
  l=[]
  for i in ast.literal_eval(obj):
    if i['job'] == 'Director':
      l.append(i['name'])
    else:
      break
    return l

In [287]:
import ast
def PcikFirstThree(obj):
  c=0
  l=[]
  for i in ast.literal_eval(obj):
    if c<3:
      l.append(i['name'])
      c +=1
    else:
      break
  return l

In [288]:
movies['cast'] = movies['cast'].apply(PcikFirstThree)

In [289]:
movies['crew'] = movies['crew'].apply(get_director_name)

In [290]:
movies = movies.dropna(how='any',axis=0)

In [291]:
movies['genres'] = movies['genres'].apply(lambda x: [i.replace(' ', '') for i in x])

<ipython-input-291-bcf7985aa715>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['genres'] = movies['genres'].apply(lambda x: [i.replace(' ', '') for i in x])

In [292]:
movies['crew'] = movies['crew'].apply(lambda x: [i.replace(' ', '') for i in x])
movies['cast'] = movies['cast'].apply(lambda x: [i.replace(' ', '') for i in x])

<ipython-input-292-e87accf9810f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['crew'] = movies['crew'].apply(lambda x: [i.replace(' ', '') for i in x])
<ipython-input-292-e87accf9810f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['cast'] = movies['cast'].apply(lambda x: [i.replace(' ', '') for i in x])

In [293]:
movies['tags'] = movies['genres'] + movies['crew'] + movies['cast']

<ipython-input-293-bc6a5957578e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['tags'] = movies['genres'] + movies['crew'] + movies['cast']

In [294]:
movies = movies[['id', 'title', 'tags', 'belongs_to_collection']]

In [295]:
movies['tags'] = movies['tags'].apply(lambda x: ' '.join(x))

In [296]:
movies['tags'] = movies['tags'].apply(lambda s : s.lower())

In [297]:
import nltk
from nltk.stem.porter import PorterStemmer

In [298]:
ps = PorterStemmer()
def stem(obj):
  l=[ps.stem(i) for i in obj.split()]
  return ' '.join(l)

In [299]:
movies['tags'] = movies['tags'].apply(stem)

In [300]:
movies.head()

,id,title,tags,belongs_to_collection
0,710,GoldenEye,adventur action thriller martincampbel pierceb...,/HORpg5CSkmeQlAolx3bKMrKgfi.jpg
1,10634,Friday,comedi f.garygray icecub christuck nialong,/dWh1Fohgx07AEd4vRUwgIj8BYxD.jpg
2,755,From Dusk Till Dawn,horror action thriller crime robertrodriguez g...,/a156nAy5ZTGXlO5wgfvnF26aaDB.jpg
3,5894,Blue in the Face,comedi paulaust harveykeitel loure michaelj.fox,/bgiPsYjbjbRFmEeUfYlp8ZDBVJJ.jpg
6,11,Star Wars,adventur action sciencefict georgeluca markham...,/ghd5zOQnDaDW1mxO7R5fXXpZMu.jpg

In [301]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 209 entries, 0 to 659
Data columns (total 4 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     209 non-null    int64
 1   title                  209 non-null    object
 2   tags                   209 non-null    object
 3   belongs_to_collection  209 non-null    object
dtypes: int64(1), object(3)
memory usage: 8.2+ KB

In [302]:
idx = pd.Index(range(0, 209, 1))
movies = movies.set_index(idx)

# New Section

Model

In [303]:
!pip install scikit-learn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.8/dist-packages (1.0.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: numpy>=1.14.6 in /usr/local/lib/python3.8/dist-packages (from scikit-learn) (1.21.6)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn) (1.7.3)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn) (1.2.0)

In [304]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 1000, stop_words = 'english')

In [305]:
vector = cv.fit_transform(movies['tags']).toarray()

In [306]:
# cv.get_feature_names_out()
# vector

In [307]:
from sklearn.metrics.pairwise import cosine_similarity
recommend_var = cosine_similarity(vector)

In [308]:
sorted(enumerate(recommend_var[0]), reverse=True, key=lambda x:x[1])[1:6]
# movies.iloc[0].title
# recommend_var[0]

# movies[movies['title']=='GoldenEye'].id

[(23, 0.5714285714285713),
 (59, 0.5714285714285713),
 (7, 0.4285714285714285),
 (30, 0.4285714285714285),
 (35, 0.4285714285714285)]

In [309]:
def recommend(movie):
  movie_index = movies[movies['title']==movie].index[0]
  movie_index_list = sorted(enumerate(recommend_var[movie_index]), reverse=True, key=lambda x:x[1])[1:6]
  return [movies.iloc[i[0]].title for i in movie_index_list]

In [310]:
recommend('House of the Dead')

['The Purge: Election Year',
 'From Dusk Till Dawn',
 'Alien',
 'Blade II',
 'Vampires']

In [311]:
import pickle 
pickle.dump(movies.to_dict(), open('movies_dict.pkl', 'wb'))

In [312]:
pickle.dump(recommend_var, open('recommend_var.pkl', 'wb'))